*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: chartreuse;
    line-height: 30px;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}